.navigation-container{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 4%;
    margin: 0% 3%;
}
.logo h1{
    letter-spacing: 5px;
    font-weight: 400;
}
.admin_profile{
    display: flex;
    align-items: center;
    justify-content: center;
}
.admin_profile .avatar {
    margin-inline: 18px;
    cursor: pointer;
}
.avatar img{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    object-fit: fill;
}
.avatar_details p {
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 300;
}